.wrapper {
  display: grid;
  align-items: center;
  grid-auto-flow: row;
  width: 400px;
  margin: 70px auto;
}

.content h1 {
  font-size: medium;
}

.button button {
  margin: 20pxauto;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: rgb(7, 187, 127);
  color: aliceblue;
  font-weight: bold;
}
