.formPlaylist {
  margin: 20px auto 0 auto;
  width: 600px;
}

.titlePlaylist {
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: rgb(234, 236, 238);
  margin-bottom: 10px;
  margin-right: 10px;
}

.descriptionPlaylist {
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: rgb(234, 236, 238);
  resize: none;
  margin-bottom: 10px;
}

.createPlaylist {
  width: 150px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: rgb(206, 53, 42);
  color: white;
  font-weight: bold;
}
